name: CI

on:
  push:

jobs:
  build:
    runs-on: ubuntu-22.04
    permissions:
      contents: read
      id-token: write
    steps:
      - uses: actions/checkout@v4
      - uses: DeterminateSystems/nix-installer-action@main
      # - uses: DeterminateSystems/magic-nix-cache-action@main
      - run: nix flake check
      - run: |
            nix build .#sbgg-matrix-docker
            cp -L result image.tar.gz
      - uses: actions/upload-artifact@v4
        with:
          path: image.tar.gz
          name: docker-image
  upload:
    runs-on: ubuntu-22.04
    needs: build
    if: ${{ 'push' == github.event_name && github.ref_name == github.event.repository.default_branch }}
    permissions:
      packages: write
    steps:
      - uses: actions/download-artifact@v4
        with:
          name: docker-image
      - uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - run: |
          LOADED=$(docker load -i image.tar.gz|grep -oP 'Loaded image: \K.*')
          for tag in latest ${{ github.sha  }}; do
            IMAGE_NAME="ghcr.io/${{ github.repository_owner }}/sbgg-matrix:$tag"
            docker tag "$LOADED" "$IMAGE_NAME"
            docker push "$IMAGE_NAME"
          done
